:root {
  --section-overlay: rgba(0, 0, 0, 0.7);
  --background-overlay: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.overlay {
  background-color: var(--background-overlay);
  height: 100vh;
}
.container {
  max-width: 800px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

.section {
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
  width: 100%;
}

.section__inputs,
.section__temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
}

.section__inputs > input {
  border: 0.8px solid white;
  border-radius: 0.4rem;
  background-color: transparent;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 200;
  color: white;
  text-transform: capitalize;
}
.section__inputs > input:focus {
  outline: none;
}

.section__inputs > button {
  padding: 10px 50px;
  border: none;
  border-radius: 0.4rem;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
}

.section__inputs > button:hover {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background-color: lightgray;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon > h3 {
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
}

.temperature > h1 {
  font-size: 3.6rem;
}
